doctype html
html
  head
    title Neeraj Dance Academy
    block scripts
    block style


  body
  nav#navbar 
    ul 
      div#logo 
          img(src="/static/img/logo.jpg")
          | HDA 
      li #[a(href='/') Home]
      li #[a(href='/') About] 
      li #[a(href='/') Class info]
      li #[a(href='/') Services] 
      li #[a(href='/') Contact us]
    block content
    footer#footer 
    | Copyright  © 2022 NeerajDanceAcademy.com | All rights reserved

    